.movies__container {
    box-sizing: border-box;
    max-width: 1280px;
    min-height: 371px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(271px, 1fr)); */
    gap: 30px 24px;
    justify-content: center;
    align-content: flex-start;
    padding: 0 70px;
    margin: auto;
  }
  
  @media screen and (max-width: 1023px) {
    .movies__container {
      max-width: 581px;
    }
  }
  
  @media screen and (max-width: 639px) {
    .movies__container {
      max-width: 282px;
    }
  }
  
    @media screen and (max-width: 424px) {
      .movies__container {
        max-width: 282px;
        min-height: 2268px;
      }
    }
