.movies {
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 70px;
}

.movies__container {
  box-sizing: border-box;
  max-width: 1140px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(364px, 1fr));
  gap: 30px 24px;
  justify-content: center;
  align-content: flex-start;
  padding: 0;
  margin: auto;
}

.movies__button-more {
  width: 320px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
  background-color: #F9F9F9;
  border-style: none;
  margin: 50px auto 80px;
  cursor: pointer;
  }

.movies__button-more:hover {
  opacity: 0.5;
}

.movies__devider {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  min-height: 166px;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .movies {
    max-width: 768px;
    padding: 70px 20px 80px;
    box-sizing: border-box;
  }

  .movies__container {
    max-width: 708px;
    gap: 36px 30px;
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    margin: 0 auto 30px;
  }

  .movies__button-more {
    margin: 80px auto 0;
  }

  .movies__devider {
    max-width: 1280px;
    min-height: 140px;
  }
}

@media screen and (max-width: 782px) {
  .movies {
    width: 720px;
    padding: 70px 0 80px;
  }

  .movies__container {
    max-width: 698px;
    gap: 36px 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
  }
}

/* @media screen and (max-width: 752px) {
  .movies__container {
    max-width: 620px;
    gap: 36px 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
  }
} */

@media screen and (max-width: 752px) {
  .movies {
    width: 320px;
    padding: 40px 0 80px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .movies__container {
    max-width: 320px;
    gap: 16px 0;
    justify-items: center;
  }

  .movies__button-more {
    width: 240px;
    height: 36px;
    margin: 80px auto 0;
  }
}
