.filter__checkbox {
    display: flex;
}

.filter__checkbox-label {
  position: relative;
  top: 10px;
  left: 45%;
  transform: translate(-50%, -50%);
  display: block;
  /* width: 36px; */
  /* height: 20px; */
  border-radius: 16px;
  padding: 2px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3px;
}

.filter__input-toggle {
  border-radius: 20px;
  width: 36px;
  /* height: 20px; */
  background-color: #ababab;
  position: relative;
  cursor: pointer;
  margin-left: 14px;
  display: block;
  border: none;
  outline: none;
  caret-color: transparent;
}

.filter__input-toggle_active {
  background-color: #2BE080;
}

.filter__toggle-handle {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 18px;
  /* right: 2px; */
  transition: right 0.2s linear;
}

.filter__toggle-handle_active {
  /* left: 18px; */
  left: 37px;
}