.login {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 396px;
  margin: 70px auto;
}

.login__button {
  width: 396px;
  height: 45px;
  left: 442px;
  top: 552px;
  background-color: #000000;
  border-radius: 3px;
  color:#FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  margin: 152px auto 16px;  
  cursor: pointer;
}

.login__button:hover {
  opacity: 0.5;
}

.login__button_disabled:hover {
  opacity: 0.2;
  cursor: auto;
}

.login__button_disabled {
  opacity: 0.2;
  cursor: none;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.login__head-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;  
  color: #000000;
  cursor: pointer;
  margin-bottom: 16px;
}

.login__head-link:hover {
  opacity: 0.5;
  cursor: pointer;
}

.login__head-link_red {
  color: #ff0000;
  text-decoration: none;
}

.login__link-container {
  width: 410px;
  height: 48px;
  display: flex;
  flex-direction: column;
  margin-top: 220px;
}

.login__head-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;  
  text-align: center;
  color: #A0A0A0;
}

.login__head-title {
  padding-bottom: 15px;
}

.login__input {
  width: 100%;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  height: 44px;
  border-bottom: 1px solid #E8E8E8;
  outline: none;
  font-style: normal;
  margin-bottom: 6px;
  position: relative;
}

.login__input:focus {
  border-bottom: 1px solid black;
}

.login__error {
  text-align: left;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.1;
  color: #FF4062;
}

.login__input-error {
  color: #FF4062;
}

.login__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  color: #000000;
  margin: 40px 0;
}

.login__title-container {
  width: 396px;
  height: 107px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}


@media screen and (max-width: 424px) {
  .login {
    width: 320px;
    padding: 56px 30px 0;
    box-sizing: border-box;
    margin: 0;
  }

  .login__button {
    width: 260px;
    height: 45px;
    margin: 240px auto 14px;
    font-size: 12px;
  }

  .login__form {
    max-width: 320px;
  }

  .login__head-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1;
    text-align: center;
    color: #000000;
  }

  .login__head-text {
    width: 260px;
    font-size: 12px;
  }

  .login__input {
    width: 260px;
  }

  .login__title {
    width: 260px;
  }

  .login__title-container {
    width: 260px;
    align-items: center;
  }
}
